<!DOCTYPE html>
<html lang="en" ng-app="bookModule" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>BooksAPI</title>
    
<script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
    <link  rel="stylesheet" href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
    <link  rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
</head>
    <div>
       <h3>BooksAPI</h3>
    </div>
  <body ng-controller="bookCtrl">

    <div class="panel-title">
        <button class="btn btn-success" ng-click="getBooks()">
            <h2>Get Books!</h2>
        </button>
    </div><br/>
    <div class="panel-title">
        <button class="btn btn-success" ng-click="fillShope()">
            <h2>Fill shop!</h2>
        </button>
    </div>
    <tbody ng-repeat="book in books">
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.rating}}</td>
        </tr>
    </tbody>
    <script>
        angular.module("bookModule", [])
            .constant("Url", "http://localhost:8080/api/")
            .controller("bookCtrl", function ($scope, $http) {
                $scope.getBooks = function () {

                  books.title = 'hello';
                  books.author = 'hello';
                  books.title = 'hello';
                  books.title = 'hello';

//                    $http.get(Url+"getAll/").then(function (response) {
//                        console.log("Status: " + response.status);
//                        console.log("Type: " + response.headers("content-type"));
//                        console.log("Length: " + response.headers("content-length"));
//                        console.log("Data"+response.data);
//                        $scope.books = response.data;
                    }}
                $scope.fillShope = function () {
                    $http.get(Url+"fill/").then(function (response) {
                        console.log("Status: " + response.status);
                        console.log("Type: " + response.headers("content-type"));
                        console.log("Length: " + response.headers("content-length"));
                        console.log("Data"+response.data);
                        $scope.books = response.data;
                    })
                }
        );
    </script>
  </body>
</html>